.row {
    background-color: #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    background-color: #ffffff;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-bottom: 25px;
}

.no-bg {
    background-color: transparent;
}

.card-sub {
    background-color: #f1f1f1;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-bottom: 25px;
}

.com {
    font-size: 14px;
}

.rights {
    font-size: 10px;
}

.btn {
    margin-top: 15px;
}

.form-group {
    margin-bottom: 75px;
}

.candidato-table {
    border-spacing: 10px;
}

.image {
    margin-top: 10px;
    margin-bottom: 10px;
}

.icons {
    margin-top: 10px;
}

.carousel-img {
    width: 100%;
}

.box-blue {
    background-color: #979797;
    color: #ffffff;
    border: #858585 solid 1px;
}

.pad-top {
    padding-top: 15px;
}

.pad-bot {
    padding-bottom: 15px;
}

.label {
    color: #6c757d;
}

.no-margin {
    margin: 0px;
}
